@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Majestim Corp.<br />
    Trucherelle<br />
    38180 NOYRAEY<br/>
    France<br/>
    <abbr title="Phone">P:</abbr>
    12.34.56.78.99
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>